<div class="booking-details">
    <h2>Booking Details</h2>
    <div class="info-row">
      <div class="info-item">
        <p><strong>Room Type :</strong> {{ roomType.type }}</p>
        <p><strong>Room Type Price:</strong> {{ roomType.price }}</p>
        <p><strong>Season Name:</strong> {{ roomType.seasonName }}</p>
      </div>
      <div class="info-item">
        <p><strong>Check-in Date:</strong> {{ checkInDate }}</p>
        <p><strong>Check-out Date:</strong> {{ checkOutDate }}</p>
      </div>
    </div>
  
    <!-- Display supplements -->
    <div class="supplements">
      <h3>Select Supplements</h3>
      <ul>
        <li *ngFor="let supplement of supplements; let i = index">
          <label>
            <input type="checkbox" [name]="'selectedSupplement' + i" [(ngModel)]="selectedSupplements[i].selected" (change)="calculateTotalAmount()" [value]="supplement.name">
            {{ supplement.name }} - {{ supplement.price }}
          </label>
        </li>
      </ul>
    </div><br>

    <!-- Display discounts -->
    <div class="discounts">
      <p *ngFor="let discount of roomType.discounts">
        You have {{ discount.amount }}% discount on {{ discount.description }} by {{ discount.name }} from {{ discount.startDate | date }} to {{ discount.endDate | date }}
      </p>
    </div>
  
    <div class="totalAmount">
      <label>Total Amount:</label>
      <input type="text" id="totalAmount" name="totalAmount" [(ngModel)]="totalAmount" readonly>
    </div>
  
    <!-- Add other form fields as needed -->
  
    <button mat-flat-button color="primary" [mat-dialog-close]="true" [disabled]="!selectedSupplements || selectedSupplements.length === 0" (click)="onConfirm()">Confirm Booking</button>
  </div>
  