.example-spacer {
    flex: 1 1 auto;
}

.logo-container {
    display: flex;
    align-items: center;  
    
  }
  
  .logo-container img {
    height: 70px;  
    width: auto;
    margin-right: 20px;
  }

a{
  color: aliceblue;
}
  