<p>
    <mat-toolbar style="background-color: rgba(0, 0, 0, 0.425);">
      <div class="logo-container">
        <img src="..\..\..\assets\images\logo3.png" >
      </div>
      <span style="color: aliceblue;">Tour Vista</span>
      <span class="example-spacer"></span>
        <a style="color: aliceblue;" mat-button routerLink="/">Home</a>  
        <a style="color: aliceblue;" mat-button routerLink="/about">About Us</a>  
        <a style="color: aliceblue;" mat-button routerLink="/tours">Tours</a>
      <span class="example-spacer"></span>
      <button mat-button style="font-weight: lighter; font-size: 13px; color:white; background-color: rgba(36, 171, 112, 1); border-radius: 35px;">
        Login
      </button>
      <button mat-button style="font-weight: lighter; font-size: 13px; margin: 10px;color:white; background-color: rgba(36, 171, 112, 1); border-radius: 35px;">
        Signup
      </button>
      
    </mat-toolbar>
  </p>
  